/* Resetting the margin and padding to 0 for all HTML elements */
* {
    margin: 0; /* removing default margin */
    padding: 0; /* removing default padding */
    
    /* Setting the font family to system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-variation-settings: "wdth" 100;                   */
}

/* Setting the background color of the body to #0d1117 */
body {
    background-color: #0d1117; /* dark blue background */
}

/* Styling the header element */
header {
    /* Setting the color of the header to white */
    color: #fff; /* white text color */
    /* margin-top: 10px; */
    /* Setting the background color of the header to #010409 */
    background-color: #010409; /* dark blue background */
    /* Adding padding to the header */
    padding: 15px 10px; /* 15px top and bottom, 10px left and right */
    /* Displaying the header as a flex box */
    display: flex; /* flexbox layout */
    /* Justifying the content of the header to space between */
    justify-content: space-between; /* distribute elements evenly */
    /* Aligning the items of the header to the center */
    align-items: center; /* vertically center elements */
    /* Setting the top position of the header to 0 */
    top: 0; /* positioning the header at the top */
    /* Setting the width of the header to 97.4vw */
    width: 97.4vw; /* 97.4% of the viewport width */
}

/* Styling the box-cont element */
.box-cont {
    /* Displaying the box-cont as a flex box */
    display: flex; /* flexbox layout */
    /* Adding a gap of 20px between the elements of box-cont */
    gap: 20px; /* 20px gap between elements */
    /* Setting the margin left to 30px */
    margin-left: 30px; /* margin left of 30px */
}

/* Styling the container element */
.container {
    /* Setting the max width of the container to 1200px */
    max-width: 1200px; /* maximum width of 1200px */
    /* margin: 0 auto; */
    /* padding: 0 20px; */
    /* Displaying the container as a flex box */
    display: flex; /* flexbox layout */
    /* Aligning the items of the container to the center */
    align-items: center; /* vertically center elements */
    /* Adding a gap of 20px between the elements of the container */
    gap: 20px; /* 20px gap between elements */
    /* Setting the margin right to 90px */
    margin-right: 90px; /* margin right of 90px */
    /* flex-wrap: wrap; */
}

/* Styling the hamburger element */
.hamburger {
    /* Setting the width and height of the hamburger to 30px */
    width: 30px; /* width of 30px */
    height: 30px; /* height of 30px */
    /* Setting the border radius to 5px */
    border-radius: 5px; /* rounded corners */
    /* Setting the background color of the hamburger to #000 */
    background-color: #000; /* black background */
    /* Setting the border to 1px solid rgb(104, 97, 97) */
    border: 1px solid rgb(104, 97, 97); /* 1px border */
    /* Displaying the hamburger as a flex box */
    display: flex; /* flexbox layout */
    /* Flex direction set to column */
    flex-direction: column; /* column layout */
    /* Justifying the content of the hamburger to the center */
    justify-content: center; /* center justify */
    /* Aligning the items of the hamburger to the center */
    align-items: center; /* vertically center elements */
    /* Adding padding to the hamburger */
    padding: 3px; /* 3px padding */
}

/* Styling the line element */
.line {
    /* Setting the width and height of the line to 20px and 2px respectively */
    width: 20px; /* width of 20px */
    height: 2px; /* height of 2px */
    /* Setting the margin to 2px */
    margin: 2px; /* 2px margin */
    /* Setting the border to 1px solid black */;
    border: 1px solid black; /* 1px solid black border */
    /* Displaying the line as a flex box */
    display: flex; /* flexbox layout */
    /* Justifying the content of the line to the center */
    justify-content: center; /* center justify */
    /* Aligning the items of the line to the center */
    align-items: center; /* vertically center elements */
    /* Setting the background color of the line to rgb(104, 97, 97) */
    background-color: rgb(104, 97, 97); /* gray background */
}

/* Styling the logo element */
.logo {
    /* Setting the margin left to -10px */
    margin-left: -10px; /* margin left of -10px */
}

/* Styling the name element */
.name {
    /* Setting the font family to "Open Sans", sans-serif */
    font-family: "Open Sans", sans-serif; /* font family */
    /* font-optical-sizing: auto; */
    /* Setting the font weight to 500 */
    font-weight: 500; /* font weight */
    /* Setting the font style to normal */
    font-style: normal; /* font style */
    /* Setting the font size to 18px */
    font-size: 18px; /* font size */
    /* Setting the color to #d1cbcb */
    color: #d1cbcb; /* light gray text color */
    /* Setting the margin left to -10px */
    margin-left: -10px; /* margin left of -10px */
}

/* Styling the searchBtn element */
.searchBtn {
    /* Setting the margin left to 650px */
    margin-left: 650px; /* margin left of 650px */
    /* Setting the width and height to 350px and 30px respectively */
    width: 350px; /* width of 350px */
    height: 30px; /* height of 30px */
    /* Setting the border radius to 8px */
    border-radius: 8px; /* rounded corners */
    /* Setting the border to 1px solid rgb(104, 97, 97) */
    border: 1px solid rgb(104, 97, 97); /* 1px border */
    /* Displaying the searchBtn as a flex box */
    display: flex; /* flexbox layout */
    /* Aligning the items of the searchBtn to the center */
    align-items: center; /* vertically center elements */
    /* background-color: #010409; */
}

/* Styling the searchImg element */
.searchImg {
    /* Setting the width and height to 20px */
    width: 20px; /* width of 20px */
    height: 20px; /* height of 20px */
    /* Displaying the searchImg as a flex box */
    display: flex; /* flexbox layout */
    /* Aligning the items of the searchImg to the center */
    align-items: center; /* vertically center elements */
    /* Justifying the content of the searchImg to the center */
    justify-content: center; /* center justify */
    /* Setting the margin left to 10px */
    margin-left: 10px; /* margin left of 10px */
    /* Setting the cursor to text */
    cursor: text; /* text cursor */
    /* margin-top: 5px; */
    /* position: absolute; */
}

/* Styling the search element */
.search {
    /* Setting the width and height to 250px and 28px respectively */
    width: 250px; /* width of 250px */
    height: 28px; /* height of 28px */
    /* Displaying the search as a flex box */
    display: flex; /* flexbox layout */
    /* Aligning the items of the search to the center */
    align-items: center; /* vertically center elements */
    /* Justifying the content of the search to the center */
    justify-content: center; /* center justify */
    /* Setting the margin left to 20px */
    margin-left: 20px; /* margin left of 20px */
    /* Setting the cursor to text */
    cursor: text; /* text cursor */
    /* margin-top: 5px; */
    /* Setting the background color to #010409 */
    background-color: #010409; /* dark blue background */
    /* Setting the border radius to 8px */
    border-radius: 8px; /* rounded corners */
    /* Setting the border to none */
    border: none; /* no border */
}

/* Styling the bar element */
.bar {
    /* Setting the width and height to 0.2px and 20px respectively */
    width: 0.2px; /* width of 0.2px */
    height: 20px; /* height of 20px */
    border:0.2px solid rgb(104, 97, 97);
    margin-left: -10px;
    background-color: rgb(104, 97, 97);
}
.symbols{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
#bar{
    width: 0.2px;
    height: 20px;
    border:0.2px solid rgb(104, 97, 97);
    margin-left: -40px;
    gap: 10px;
    align-self: center;
    background-color: #fff;
}
.new{
    width: 40px;
    height: 10px;
    margin-left: -10px;
    border: 1px solid rgb(104, 97, 97);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    /* justify-content: space-between; */
    gap: 20px;
    background-color: #010409;
}
.triangle{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 9px solid rgb(104, 97, 97); /* Color of the triangle */
  }
.dot-circle{
    width: 30px;
    height: 30px;
    margin-left: -10px;
    border: 1px solid rgb(104, 97, 97);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #010409;
    
}
.circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid rgb(104, 97, 97);
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: ; */

}
.dot{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(104, 97, 97);
    cursor: pointer;
}
.requests{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.pull-requests{
    width: 30px;
    height: 30px;
    margin-left: -10px;
    border: 1px solid rgb(104, 97, 97);
    border-radius: 8px;
}
.notification{
    width: 30px;
    height: 30px;
    margin-left: -10px;
    border: 1px solid rgb(104, 97, 97);
    border-radius: 8px;
}
.profile{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: -10px;
}
main{
    font-family: apple;
    width: 90vw;
    /* background-color: #fff; */
    /* height: 500px; */
    margin-top: 30px;
    margin-left: 75px;
    display: grid;
    grid-template-columns: 27% 73%;
    /* margin-bottom: 20px; */
}
.profile-cont{
    /* background-color: #000; */
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.profiles-pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 20px;
}
.writings{
    color: #FEFCF5;
    text-align: start;
}
.writings h1{
    font-weight: 400;
}
.writings h2 span{
    align-self: center;
    justify-content: center;
}
.writings h2{
    font-weight: 400;
    color: #687079;
}

#edit-pro{
    margin-top: -5px;
    margin-bottom: 20px;
    width: 300px;
    height: 30px;
    background-color: #21262d;
    border: 1px solid rgb(104, 97, 97);
    border-radius: 8px;
    color: #eee8f5;
    font-weight: 500;
    font-size: 15px;
}
.follow-image{
    width: 20px;
    height: 20px;
    background-color: #fff;
}
.followers{
    display: flex;
    flex-direction: row;
    color: #687079;
    gap: 10px;
    margin-bottom: 35px;
    font-size: 15px;
}
.followers h3 b{
    color: #fff;
}
.pin{
    width: 300px;
    /* height: 2px; */
    border: 1px solid rgb(104, 97, 97);
    margin-bottom: 25px;
}
#word{
    font-size: 20px;

}
.badge{
    display: flex;
    flex-direction: row;
    color: #413177;
    gap: 10px;
}
.writings{
    margin-bottom: 15px;
}
.star-img{
    width: 20px;
    height: 20px;
    background-color: #fff;
}
.pro{
    border: 1px solid #413177;
    /* height: 20px; */
    /* width: 5px; */
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
/* .repos-text{
    color:#fff;
    font-size:50px;
    font-weight:600;
} */
.repos-text h1{
    color:#fff;
    font-size:25px;
    font-weight:200;
}
.pinned-repos{
    padding-bottom:100px;
}
.repos{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    row-gap:10px;
    column-gap:10px;
    margin-top:30px;
    
}
.projects{
    border: 1px solid rgb(104, 97, 97);
    border-radius:10px;
    width:95%;
    height:120px;
    /* padding: 10px; */
}
.cont-text h1{
    position:absolute;
    top:570px;
    color:white;
    font-size:20px;
    font-weight: 200;
    /* margin-top:90px; */
}
.contribution{
    margin-top:68px;
    /* background-color:pink; */
    width:53vw;
    height:500px;
    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-columns: 100%;
    /* grid-row: 50% 50%; */
    border:1px solid rgb(104, 97, 97);
    border-radius:10px;
    
}
.commits{
    /* background-color: #fff; */
    border-bottom: 1px solid rgb(104, 97, 97);
    display:grid;
    grid-template-columns: 1% 1% 1%;
    grid-template-rows: 1% 1% 1%;
}
.act-over{
    /* background-color: green; */
    display: grid;
    grid-template-columns: 49.8% 0.4% 49.8%;
}
.line-commit{
    border: 0.5px solid rgb(104, 97, 97);
    width: 0.5px;
    height: 250px;
    margin-top: 20px;
}
.acti{
    /* background-color: yellow; */
    /* border-right: 1px solid rgb(104, 97, 97); */
    
}
.cross{
    /* background-color: pink; */
}
.repo-text h2{
    color: white;
    font-weight: 300;
}
.repo-text{
    margin-top: 20px;
    margin-bottom: 20px;
}
.cap {
    margin-left: 10px;
    color:#687079;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    align-items: center;
    /* justify-content: center; */
}
.june h3{
    color:#fff;
    font-weight:400;
    
}
.june h3 span{
    color:#687079;
}
.tail{
    width: 70%;
    height: 1px;
    background-color: rgb(104, 97, 97);
    margin-left: 20px;
}
